<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.david.mobileproject">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProject">
        <activity android:name=".UpdateNoteActivity"></activity>
        <activity android:name=".AddNoteActivity" />
        <activity android:name=".RoleListActivity" />
        <activity android:name=".NoteListActivity" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>